In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CODTECH_BIG_DATA_TASK").getOrCreate()

df = spark.read.csv("/content/yellow_tripdata_2015-01.csv", header=True, inferSchema=True)
print("Data Loaded Successfully")
df.show(5)

Data Loaded Successfully
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|   pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag|  dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|   -73.993896484375|40.750110626220703|         1|                 N|-73.974784851074219|40.750617980957031|           1|         12|    1|    0.5|      3.25|           0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|         3.30| -74.00164794921875|  40.7242431640625|         1|                 N|-73.994415283203125|40.759109497070313|           1|       14.5|  0.5|    0.5|         2|           0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|         1.80|-73.963340759277344|40.802787780761719|         1|                 N|-73.951820373535156|40.824413299560547|           2|        9.5|  0.5|    0.5|         0|           0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          .50|-74.009086608886719|40.713817596435547|         1|                 N|-74.004325866699219|40.719985961914063|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|         3.00|-73.971176147460938|40.762428283691406|         1|                 N|-74.004180908203125|40.742652893066406|           2|         15|  0.5|    0.5|         0|           0|                  0.3|        16.3|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
df_clean = df.dropna()
print("Rows after cleaning:", df_clean.count())

Rows after cleaning: 14033457

In [ ]:
print("Total Rows:", df_clean.count())

Total Rows: 14033457

In [ ]:
from pyspark.sql.functions import avg, col, when
from pyspark.sql.types import DoubleType

df_clean2 = df_clean.withColumn(
    "fare_amount_clean",
    when(col("fare_amount").rlike(r"^-?\d+(\.\d+)?$"), col("fare_amount").cast(DoubleType()))
    .otherwise(None)
)

df_clean2.select(avg("fare_amount_clean").alias("Average Fare")).show()


df_clean.select(avg(when(col("fare_amount").rlike(r"^-?\d*\.?\d+$"), col("fare_amount").cast(DoubleType())).otherwise(None))).show()

+-------------------+
|       Average Fare|
+-------------------+
|6.951980371939585E7|
+-------------------+

+-----------------------------------------------------------------------------------------------+
|avg(CASE WHEN RLIKE(fare_amount, ^-?\d*\.?\d+$) THEN CAST(fare_amount AS DOUBLE) ELSE NULL END)|
+-----------------------------------------------------------------------------------------------+
|                                                                            6.951974427240919E7|
+-----------------------------------------------------------------------------------------------+

In [ ]:
df_final = df_clean2.dropna(subset=["fare_amount_clean"])

In [ ]:
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col

df_final = df_final.withColumn(
    "total_amount_clean",
    col("total_amount").cast(DoubleType())
)

In [ ]:
from pyspark.sql.functions import col, when, regexp_replace
from pyspark.sql.types import DoubleType

df_final = df_final.withColumn(
    "total_amount_clean",
    when(col("total_amount").rlike(r"^-?\d+(\.\d+)?$"), col("total_amount").cast(DoubleType()))
    .otherwise(None)
)

In [ ]:
df_final.groupBy("payment_type") \
    .sum("total_amount_clean") \
    .orderBy("sum(total_amount_clean)", ascending=False) \
    .show()

+-------------------+-----------------------+
|       payment_type|sum(total_amount_clean)|
+-------------------+-----------------------+
|                  1|   7.001692323764845E15|
|                  2|   4.985202414510723E13|
|                  3|     501605.69696577213|
|                  4|     137494.37381088323|
|                  N|                 139.32|
|                  5|      54.34564743041992|
|-73.782073974609375|                   52.0|
|                  6|        40.808837890625|
|-73.941566467285156|                   30.0|
|              14375|                   21.0|
|-73.958961486816406|                   18.0|
|-74.007865905761719|                   16.5|
|-73.982139587402344|                   15.0|
|  1.986671447753906|                   12.5|
|-73.971481323242187|                   10.0|
|-73.962623596191406|                    9.5|
|     18685607910156|                    9.5|
|-73.954498291015625|                    9.0|
|              46875|                    7.5|
|-73.997795104980469|                    7.0|
+-------------------+-----------------------+
only showing top 20 rows